@import '../../styles/variables';

.stopsFilter {
  width: 232px;
  padding: 10px 0;
  background-color: #fff;
  border-radius: 5px;
}

.title {
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 10px;
}

.list {
  list-style: none;
}

.item {
  padding: 10px 20px;
  display: flex;
  align-items: center;
  font-size: 13px;
  line-height: 20px;
}

.item:hover {
  cursor: pointer;
  background-color: #f1fcff;
}

.customCheckbox {
  width: 20px;
  height: 20px;
  border: 1px solid #9abbce;
  border-radius: 2px;
  display: inline-block;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-right: 10px;
}

.realCheckbox {
  display: none;
}

.realCheckbox:checked ~ .customCheckbox::before {
  content: url('../../images/check-mark.svg');
  justify-content: center;
  align-items: center;
  display: inline-block;
  width: 12px;
  height: 8px;
  background-size: contain;
  background: no-repeat;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -130%);
}

.realCheckbox:checked ~ .customCheckbox {
  border: 1px solid $primary-color;
}
