@import './variables';

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 1px solid red;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #e5e5e5;
}

.pseudo-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  clip-path: polygon(0px 0px, 0px 0px, 0px 0px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

.page-wrapper {
  background-color: #f3f7fa;
  max-width: 960px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 774px;
  align-items: flex-start;
  padding-bottom: 20px;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
}

.logo {
  margin: 30px 0;
}

.tickets {
  margin-left: 20px;
  width: 502px;
  flex-shrink: 1 1;
}

.show-more-button {
  background: $primary-color;
  display: flex;
  width: 100%;
  border: none;
  font-size: 14px;
  justify-content: center;
  padding: 15px 20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}

.show-more-button:focus {
  outline: $primary-outline;
}
