@import './variables';

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  // border: 1px solid red;
  font-family: 'Open Sans', sans-serif;
}

body {
  background-color: #e5e5e5;
}

.page-wrapper {
  background-color: #f3f7fa;
  max-width: 960px;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.content-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 774px;
  align-items: flex-start;
  padding-bottom: 20px;
}

.logo-wrapper {
  display: flex;
  justify-content: center;
}

.logo {
  margin: 30px 0;
}

.tickets {
  margin-left: 20px;
  width: 502px;
  flex-shrink: 1 1;
}

.show-more-button {
  background: $primary-color;
  display: flex;
  justify-content: center;
  padding: 15px 20px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
